[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
faker = "*"
python-firebase = "*"
requests = "==1.1.0"
pyrebase = "*"
pyrebase4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
